@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body * {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f3f3f5;
    padding:0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    padding:20px 0;
    display: inline-block;
    margin-right: 20px;
    color:#000;
    text-decoration: none;
    vertical-align: middle;
}

.inner-wrapper {
    max-width: 1200px;
    margin: auto;
}

.float-right{
    float: right;
    margin-left: 5px;
}

a.button{
    color: #fff;
    padding:10px;
    border-radius: 5px;
    margin: 0;
}
.admin-button{
    background: #1e90ff;
    margin-top: 8px !important;
}
.admin-exit{
    background: #a2a25b;
    margin-top: 8px !important;
}

.log-out{
    background: orangered;
    margin-top: 8px;
    margin-top: 8px !important;
}
footer{
    padding: 35px 0;
    text-align: center;
    margin: 0;
    background: #e9eaee;
    margin-top: auto;
}
.main-content{
    padding: 30px 0;
    padding-top: 130px;
    width: 100%;
    margin: 0 auto;
}
.button-edit{
    background: #d7d1d1;
    color: #000;
    padding:10px;
    border-radius: 5px;
    margin: 0;
    margin: 10px;
    text-decoration: none;
}
.ads-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.ads-list.ads-5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.ads-list li{
    display: block;
    background: #e9eaee;
    border-radius: 8px;
    padding: 20px;
}
.ads-list li a {
    text-decoration: none;
    color:#000;
}
.ad-image-wrapper{
    max-width: 100%;
}
.ad-image-wrapper img{
    width: 100%;
    margin-bottom: 15px;
    max-width: 500px;
}
.inactive-ad{
    opacity: 0.5;
    border:1px solid red;
}
.search-wrapper{
    margin-bottom: 10px;
    position: relative;
}
.search-wrapper input{
    border:0;
    background: #fff;
    border-radius: 8px;
    padding: 12px 15px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    outline: none;
    width:400px;
}
.search-wrapper button{
    background: transparent;
    border:0;
    cursor: pointer;
    width: auto;
    font-size: 0;
    padding: 0;
    box-shadow: none;
    position: absolute;
    right: 7px;
    top:7px
}
.search-wrapper button::before{
    content:'\1F50D';
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.order-wrapper{
    padding-bottom: 20px;
}
.order-wrapper a{
    color:#000;
    font-size: 12px;
    text-decoration: none;
    margin-right: 15px;
}
.pages-wrapper {
    padding-top: 30px;
    font-size: 18px;
    color:#777;
    text-align: center;
}
.pages-wrapper a{
    color:#000;
    font-size: 18px;
    text-decoration: none;
}
.ads-slider-wrapper{
    background: #ffbb05;
    border-radius: 8px;
    padding: 40px;
    display: grid;
    grid-gap: 0;
    position: relative;
    box-shadow: 0 0 25px 0px rgba(0,0,0,0.15);
    margin-bottom: 30px;
}
.ads-slider-wrapper.fr-1-5{
    grid-template-columns: 1fr 5fr;
}
.ads-slider-wrapper.fr-5-1{
    grid-template-columns: 5fr 1fr;
}
.ads-slider-wrapper.blue{
    background: #4abbdc;
}
.slider-title{
    color:#fff;
    font-size: 25px;
    font-weight: 600;
    padding: 50px 0px;
    line-height: 40px;
}

.fr-1-5 .slider-title{
    text-align: left;
}
.fr-5-1 .slider-title{
    text-align: right;
}

.ads-slider-wrapper .ads-list li {
    background: rgba(0,0,0,0.1);
    color:#fff;
    transition: ease-in-out 0.1s;
}
.ads-slider-wrapper .ads-list li a{
    color:#fff;
}
h1{
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 700;
}
.ads-slider-wrapper .ads-list li:hover{
    transform: translateY(-10px);

}
.ad-description{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}
.ad-image img{
    max-width: 100px;
}
table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
}
table td {
    padding: 15px;
}
table thead th {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
    padding-top: 20px;
    padding-bottom: 20px;
}
table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}
table tbody tr {
    background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
ul.messages li{
    display: block;
    background: #ddd;
    color: #000;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    margin-bottom: 5px;
}
ul.messages li.message-error{
    background: #c94e4e;
    color: #fff;
}
ul.messages li.message-warning{
    background: #ecbf1f;
    color: #000;
}
ul.messages li.message-info{
    background: #2290c0;
    color: #fff;
}
ul.messages{
    margin-bottom: 20px;
}